*{
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
}


.TopandBottomDiv{
  display: flex;
  padding: 50px;
  height: 20vh;
}

.CenterDiv{
  display: flex;
  height:60vh;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}

.Circle{
  border-radius: 50%;
}
