*{
  /* box-sizing: border-box; */
}

.App{
  display: flex;
  flex-direction: column;

}

.FlexContainer{
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

}

.FlexContainer:last-child{
  padding-bottom: 50px;
}

.Circle{
  border-radius: 50%;
}
